.tile {

}

.grass{
    background-color: rgb(174, 85, 28);
}

.rock {
    background-image: url('./monkimage.png');
    background-color: rgb(174, 85, 28); 
}

.treasure {
    background-image: url('./treasure.png');
    background-color: rgb(174, 85, 28);
}

.bricks {
    background-image: url('./brick3.jpg') 
}

.sword {
    background-image: url('./sword.png');
    background-color: rgb(174, 85, 28);  
}